build
dist
node_modules
.DS_Store
sassdoc

/idea
/.idea

package-lock.json

/public/assets/layout/css/layout-*-*.css
/public/assets/theme/theme-*-*.css
/public/assets/sass/designer

.firebase
firebase.json
.firebaserc